@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
  --unit: 50px;
}

body {
  font-family: 'Fira Mono', monospace;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 80vw 1fr;
  grid-template-rows: 100px 1fr;
  margin: 0;
  padding: 0;
}

ul.navigationBar {
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  grid-column: 1 / -1;
  background: yellow;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 3;
}

ul.navigationBar > li {
  padding: 20px;
}

ul.navigationBar > li > ul.themeDropdown[show="false"] {
  display: none;
}

ul.navigationBar > li > ul.themeDropdown  {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.navigationBar > li > ul.themeDropdown  > li > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.navigationBar > li > ul.themeDropdown  > li > ul  > li {
  display: flex;
  justify-content: space-between;
}



.game {
  position: relative;
  margin: 0;
  padding: 0;
  /* width: calc(10 * var(--unit) * 1.732); */
  /* height: calc(10 * var(--unit) * 1.732); */
  background: var(--gameColor);
  /* left: 50%; */
  /* top: 50%; */
  /* translate: -50% -50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.game > .board {
  position: absolute;
  width: calc(1 * var(--unit));
  height: calc(9 * var(--unit) * 1.732);
  background: var(--boardColor);
  margin: 0;
  padding: 0;
}

.game > .board::before {
  content: "";
  position: absolute;
  height: calc(var(--unit) * 1.732);
  width: 0;
  border: calc(4 * var(--unit) * 1.732) solid transparent;
  border-left: 0 solid transparent;
  border-right: calc(4 * var(--unit)) solid var(--boardColor);
  top: 0;
  right: calc(1 * var(--unit));
}

.game > .board::after {
  content: "";
  position: absolute;
  height: calc(var(--unit) * 1.732);
  width: 0;
  border: calc(4 * var(--unit) * 1.732) solid transparent;
  border-right: 0 solid transparent;
  border-left: calc(4 * var(--unit)) solid var(--boardColor);
  top: 0;
  left: calc(1 * var(--unit));
}

.game > .board > *  {
  position: absolute;
  width: calc(var(--unit)  * 0.5);
  height: calc(var(--unit) * 1.732 * 0.5);
  /* background: red; */
  background: transparent;
/*   border-radius: 50%; */
  right: calc(4.25 * var(--unit));
  top: calc(4.25 * var(--unit) * 1.732);
  translate: calc(var(--row) * var(--unit) * 0.5 + var(--column) * var(--unit) * 0.5) calc(var(--row) * var(--unit) * 0.5 * 1.732 - var(--column) * var(--unit) * 0.5 * 1.732);
  z-index: 2;
  cursor: pointer;
}
.game > .board > *::after {
  content: "";
  position: relative;
  display: flex;
  height: calc(var(--unit) * 0.75);
  width: calc(var(--unit) * 0.75);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: var(--color);
  border-radius: 50%;
}

.game > .board > .inaccessible::after {
  height: calc(var(--unit) * 0.25);
  width: calc(var(--unit) * 0.25);
}

.game > .board > *:not(.inaccessible)::after {
  backdrop-filter: blur(6px);
  box-shadow: 10px 10px 20px 0px rgba(145, 192, 255, 0.5), inset -4px -4px 5px 0px rgba(145, 192, 255, 0.6), inset 0px 4px 8px 0px rgb(255, 255, 255);
}

.game > .board > *[isSelected="true"]::after
 {
  border: 5px solid white;
} 










/* 
.game {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game > .board {
  position: relative;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.game > .board > *{
  width: 90%;
  height: 90%;
  background: inherit;
  border-radius: 50%;
}

.game > .board >.inaccessible::after {
  background: black;
}

.game > .board > .inaccessible::after,
.game > .board > .player1-occupied::after,
.game > .board > .player2-occupied::after
{
  content: "";
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 4px;
  width: 4px;
  border-radius: 50%;
}


.game > .board > .player1-occupied::after,
.game > .board > .player2-occupied::after {
  top: 5%;
  left: 5%;
  background: var(--color);
  height: 90%;
  width: 90%;
  translate: 0 0;
}



.game > .board > .player1-occupied[isSelected="true"],
.game > .board > .player2-occupied[isSelected="true"],
.game > .board > .inaccessible[isSelected="true"]
 {
  border: 2px solid black;
} */



.timer {
  position: relative;
  background: lightcyan;
  margin: 0;
  padding: 0;
}